.biography Biography
<div [innerHtml]="mashup.biography.description"></div>
.albums Albums
div
  div(*ngFor="#album of mashup.albums")
    .album-title {{album.title}}
    div(*ngIf="album.images !== 'N/A'")
      div( *ngFor="#img of album.images" style="display:inline;width:200px;height:200px" )
        img(src="{{img.image}}" style="width:200px;height:200px")
    div(*ngIf="album.images === 'N/A'")
        span "Images N/A"